.header-area.header-sticky{background-color: #fff; z-index: 99999;}
.right-bx-txt:not(:last-child){border-bottom: 1px solid #dbdbdb; padding-bottom: 30px; margin-bottom: 30px;}
.testi-box{
    border: 1px solid #dbdbdb;
    padding: 25px;
    border-radius: 10px;
    margin: 30px;
}

.cta-sec{
    background-color: #3751fe;
    padding: 100px 0px;
}

.ready-btn{
    background-color: #fff;
    color: #3751fe;
    padding: 15px 50px;
    display: inline-block;
    border-radius: 50px;
    font-weight: 500;
}

.small-txt{
    color: #ffffffa8;
    display: block;
    padding-top: 10px;
}

.ftr-title{
    color: #21278b;
    font-weight: 600;
}
.ftr-menu div{
    margin-top: 25px;
}
.ftr-menu div a{
    display: block;
    color: #9c9c9c;
    padding-bottom: 15px;
}

.more-btn{
    background: #1a70b8;
    display: inline-block;
    color: #fff;
    padding: 14px 30px;
    border-radius: 50px;
}

.simply-sec{
    background-color: #fff9ea;
    padding: 80px 0 0px;
}
.contact-header{
    margin-top: 30px;
}
.contact-header li:first-child{margin-right: 25px; line-height: 45px;}
.contact-header li:first-child a:hover{color: #1a70b8 ;}
.contact-header li:first-child a{color: #444;}
.background-header .contact-header{margin-top: 17px;}
.main-banner{padding: 226px 0px 30px 0px !important;}

.testi-carousal .owl-nav{text-align: center;}
.testi-carousal .owl-nav button{    background: #1a70b8 !important;
    width: 40px;
    color: #fff !important;
    border-radius: 50px;
    height: 40px; margin: 0 5px;}
    .testi-carousal .owl-nav button span{    font-size: 40px;
        line-height: 40px;}
        .logo-sec img{object-fit: contain;}

@media screen and (max-width:767px){
    .d-mobile-none{display: none;}
}


@media screen and (min-width:768px) {
    .menu-header{display: flex; justify-content: space-between;}
}